body {
    font-family: sans-serif;
    background-image: url("http://www.warrenphotographic.co.uk/photography/bigs/22300-Bichon-Frise-dog-and-Birman-cat-white-background.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 1500px;
    margin: 80px;
}

.information{
    color: #00442b;
}
.center {

}

.text-big {
    font-size: 120%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 2000;
    font-family: sans-serif;
    padding: 20;
    margin: 0 auto;
    padding-left: 60;
    padding-right: 60;
}
.content{
    color:#00442b;
}