body {
    font-family: sans-serif;
    background-image: url("http://cdn.xl.thumbs.canstockphoto.com/canstock15264990.jpg");
    background-repeat: no-repeat;
    background-position: center;
    margin: 80px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 1000;
    font-family: sans-serif;
    padding: 20;
    margin: 0 auto;
    padding-left: 60;
    padding-right: 60;
}
.content{
    color:#0889e8;
}