body {
    font-family: sans-serif;
    background-image: url("http://www.glaas.org/s/cc_images/teaserbox_8316596.jpg?t=1424556854");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1500px;
    margin: 80px;
}

.information{
    color: #42f4e5;
}
.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 1000;
    font-family: sans-serif;
    padding: 20;
    margin: 0 auto;
    padding-left: 60;
    padding-right: 60;
}
.content{
    color:#42f4e5;
}